/* força scrollbar visível */
html, body {
  overflow-y: scroll !important;
}

/* deixa a barra mais visível (Chrome/Edge) */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0b0f14;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}